
{% extends "appsistema/base.html" %}

{% load static %} 

{% block titulo %} 


<h1>SISTEMA DE GESTION DE TAREAS</h1>


{% endblock %}

{%block contenido_que_cambia %}

<h2>Acerca de mí</h2>
<br>
<br>
<h3>Información</h3>

<p>Sitio Desarrollado por : 404 Not found company</p>
<br>
<p>Para empresas Gold Lucky en Pucón, Chile</p>
<br>
<p>Empresa dedicada a desarrollo de herramientas de gestión para mejorar administración de recursos</p>
<br>
<p>Septiembre 2023 - Versión 1.</p>
<p>Lenguaje: Python</p>
<p>Framework: Django</p>
<p>Proyecto Coderhouse 43870</p>








    {% endblock %}