
{% extends "appsistema/base.html" %}

{% load static %} 

{% block titulo %} 


<h1>SISTEMA DE GESTION DE TAREAS</h1>


{% endblock %}

{%block contenido_que_cambia %}

<h2>Empresas 404 not found</h2>
<br>
<br>
<h3> Listado de Equipos </h3>

<ul>
    {% for equipos in object_list %}
    <li>
        {{equipos}}
        <a class="btn btn-info" href="{% url 'equipo_detalle' equipos.id %}">Mostrar</a>
        <a class="btn btn-success" href="{% url 'equipo_editar' equipos.id %}">Modificar</a>


    </li>

    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'equipos_list' %}">Ver listado </a>

    <a class="btn btn-primary" href="{% url 'equipos_crear' %}">Agregar Equipo </a>
</ul>

{% endblock %}

