
{% extends "appsistema/base.html" %}

{% load static %} 

{% block titulo %} 


<h1>SISTEMA DE GESTION DE TAREAS</h1>


{% endblock %}

{%block contenido_que_cambia %}

<h2>Empresas 404 not found</h2>
<br>
<br>
<h3> Listado de Funcionarios del departamento </h3>

<ul>
    {% for personal in object_list %}
    <li>
        {{personal}}
        <a class="btn btn-info" href="{% url 'personal_detalle' personal.id %}">Mostrar</a>
        <a class="btn btn-success" href="{% url 'personal_editar' personal.id %}">Modificar</a>
        <a class="btn btn-danger" href="{% url 'personal_borrar' personal.id %}">Eliminar</a>


    </li>

    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'personal_list' %}">Ver listado </a>

    <a class="btn btn-primary" href="{% url 'personal_crear' %}">Agregar personal </a>
</ul>

{% endblock %}
