{% extends "appsistema/base.html" %}

{% load static %} 

{% block titulo %} 


<h1>SISTEMA DE GESTION DE TAREAS</h1>


{% endblock %}

{%block contenido_que_cambia %}

<h2>Empresas 404 not found</h2>
<br>
<br>
<h3> Gestion de trabajos</h3>

<ul>
    {% for trabajos in object_list %}
    <li>
        {{trabajos}}
        <a class="btn btn-info" href="{% url 'trabajos_detalle' compras.id %}">Mostrar</a>

    </li>

    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'trabajos_list' %}">Ver listado </a>

    <a class="btn btn-primary" href="{% url 'trabajos_crear' %}">Agregar trabajos </a>
</ul>

{% endblock %}