
{% extends "appsistema/base.html" %}

{% load static %} 

{% block titulo %} 


<h1>SISTEMA DE GESTION DE TAREAS</h1>


{% endblock %}

{%block contenido_que_cambia %}

<h2>Empresas 404 not found</h2>
<br>
<br>
<h3>DATOS DE TRABAJOS</h3>

<p> EQUIPO: <i> {{trabajos.equipo}}</i></p>
<p> OFICINA: <i> {{trabajos.oficina}}</i></p>
<p> PERSONAL: <i> {{trabajos.personal}}</i></p>
<p> DESCRIPCION: <i> {{trabajos.descripcion}}</i></p>
<p> FECHA DE INICIO: <i> {{trabajos.fecha_inicio}}</i></p>
<p> FECHA DE TERMINO: <i> {{trabajos.fecha_termino}}</i></p>




{% endblock %}
