{% extends "appcoder/padre.html" %}

{% load static %} 

{% block title %} ESTA ES LA PAGINA DE ESTUDIANTES {% endblock %}

{%block contenido_que_cambia %}

<h2> listado de estudiantes </h2>

<ul>
    {% for estudiantes in object_list %}
    <li>
        {{estudiantes}}
        <a class="btn btn-info" href="{% url 'estudiante_detalle' estudiante.id %}">Mostrar</a>
    </li>

    {% endfor %}
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'estudiante_crear' %}">Agregar estudiante </a>
</ul>

{% endblock %}